# dependencies
node_modules/

# Expo-specific type declarations
expo-env.d.ts

# Native mobile build artifacts & signing keys
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler health check files
.metro-health-check*
